trimesh==3.9.8
numpy==1.21.0
pyhocon==0.3.57
icecream==2.1.0
opencv_python==4.5.2.52
tqdm==4.50.2
scipy==1.7.0
PyMCubes==0.1.2
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
smplx[all]
chumpy
